<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/kendo")
    @Scripts.Render("~/bundles/jqueryajax")


    @RenderSection("styles", required: false)
    @Styles.Render("~/Content/custom")
    <link href="~/Scripts/jquery-ui-1.11.2.custom/jquery-ui.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav top-menu">
                    <li>
                        <span class="glyphicon glyphicon-th-list" id="menu-toggle">Daily</span>
                    </li>
                    <li>
                        @Html.ActionLink("Front", "Front", "Posts", new { area = string.Empty, type = "Front" }, new { })
                    </li>
                    <li>
                        @Html.ActionLink("Rising", "Front", "Posts", new { area = string.Empty, type = "Rising" }, new { })
                    </li>
                    <li>
                        @Html.ActionLink("New", "Front", "Posts", new { area = string.Empty, type = "New" }, new { })
                    </li>
                    <li>
                        @Html.ActionLink("Top", "Front", "Posts", new { area = string.Empty, type = "Top" }, new { })
                    </li>
                    <li>@Html.ActionLink("View Posts", "All", "Posts", new { area = string.Empty }, new { })</li>
                    @if (User.IsInRole(TopPost.Common.GlobalConstants.AdminRole))
                    {
                        <li class="dropdown">
                            <a id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="/page.html">
                                Administration
                            </a>
                            
                            <ul class="dropdown-menu multi-level">
                                <li>@Html.ActionLink("Comments", "Index", "CommentsAdm", new { area = "Administration" }, null)</li>
                                <li>@Html.ActionLink("Categories", "Index", "Categories", new { area = "Administration" }, null)</li>
                            </ul>
                        </li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="body-content wrapper toggled" id="wrapper">
        @if (!User.IsInRole(TopPost.Common.GlobalConstants.AdminRole))
        {
            @Html.Action("GetTopDailyPosts", "Posts")
        }
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/kendo")
    @Scripts.Render("~/bundles/my-app")


    @RenderSection("scripts", required: false)
    @*<script>
        $(function () {
            $('.top-menu').kendoMenu();
        })
    </script>*@
</body>
</html>
